<div class="toc">
    <h2 id="contents">Contents</h2>
    <ul>
        <li><a href="#keyboard-shortcuts">Keyboard shortcuts</a></li>
        <li><a href="#common-operations">Common operations</a></li>
        <li><a href="#tools">Tools</a></li>
        <li><a href="#clip-studio-paint-menu-macos">Clip Studio Paint menu (macOS)</a></li>
        <li><a href="#file-menu">File menu</a></li>
        <li><a href="#edit-menu">Edit menu</a></li>
        <li><a href="#layer-menu">Layer menu</a></li>
        <li><a href="#selection-menu">Selection menu</a></li>
        <li><a href="#view-menu">View menu</a></li>
        <li><a href="#window-menu">Window menu</a></li>
        <li><a href="#help-menu">Help menu</a></li>
        <li><a href="#other-shortcuts">Other shortcuts</a></li>
    </ul>
</div>