<div class="toc">
    <h2>Contents</h2>
    <ul>
        <li><a href="#palettes">Palettes</a></li>
        <li><a href="#tool-palettes">Tool Palettes</a></li>
        <ul>
            <li>Tool Palette</li>
            <li>Sub Tool Palette</li>
            <li>Tool Property Palette</li>
            <li>Brush Size Palette</li>
        </ul>
        <li><a href="#color-palettes">Color Palettes</a></li>
        <ul>
            <li>Color Wheel Palette</li>
            <li>Color Slider Palette</li>
            <li>Color Set Palette</li>
            <li>Intermediate Color Palette</li>
            <li>Approximate Color Palette</li>
            <li>Color History Palette</li>
        </ul>
        <li><a href="#navigator-palette-and-related-palettes">Navigator Palette and related palettes</a></li>
        <ul>
            <li>Navigator Palette</li>
            <li>Sub View Palette</li>
            <li>Item Bank Palette</li>
            <li>Information Palette</li>
        </ul>
        <li><a href="#layer-property-palette-and-related-palettes">Layer Property Palette and related palettes</a></li>
        <ul>
            <li>Layer Property Palette</li>
            <li>Search Layer Palette</li>
            <li>Animation Cels Palette</li>
        </ul>
        <li><a href="#layer-palette-and-related-palettes">Layer Palette and related palettes</a></li>
        <ul>
            <li>Layer Palette</li>
            <li>History Palette</li>
            <li>Auto Action Palette</li>
        </ul>
        <li><a href="#quick-access-and-materials-palettes">Quick Access and Materials Palettes</a></li>
        <ul>
            <li>Quick Access Palette</li>
            <li>Materials Palettes</li>
        </ul>
        <li><a href="#timeline-palette">Timeline Palette</a></li>
    </ul>
</div>