<div class="toc">
    <h2 id="contents">Contents</h2>
    <ul>
        <li><a href="#tools">Tools</a></li>
        <li><a href="#zoom">Zoom</a></li>
        <li><a href="#move">Move</a></li>
        <li><a href="#operation">Operation</a></li>
        <li><a href="#move-layer">Move Layer</a></li>
        <li><a href="#selection-area">Selection Area</a></li>
        <li><a href="#auto-select">Auto Select</a></li>
        <li><a href="#eyedropper">Eyedropper</a></li>
        <li><a href="#pen">Pen</a></li>
        <li><a href="#pencil">Pencil</a></li>
        <li><a href="#brush">Brush</a></li>
        <li><a href="#airbrush">Airbrush</a></li>
        <li><a href="#decoration">Decoration</a></li>
        <li><a href="#eraser">Eraser</a></li>
        <li><a href="#blend">Blend</a></li>
        <li><a href="#fill">Fill</a></li>
        <li><a href="#gradient">Gradient</a></li>
        <li><a href="#figure">Figure</a></li>
        <li><a href="#frame-border">Frame Border</a></li>
        <li><a href="#ruler">Ruler</a></li>
        <li><a href="#text">Text</a></li>
        <li><a href="#balloon">Balloon</a></li>
        <li><a href="#correct-line-and-remove-dust">Correct Line and Remove Dust</a></li>
    </ul>
</div>